<template>
    <Head>
        <title>{{ title }}</title>
    </Head>
    <Layout>
        <div class="row">
            <div class="col s12 l6 push-l3">
                <p class="center">Cadastro</p>
                <form v-on:submit.prevent="salvar()">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input
                            type="text"
                            v-model="form.nome"
                            name="nome"
                            id="nome"
                        />
                        <label for="nome">Nome</label>
                        <span
                            class="helper-text red-text"
                            data-error="wrong"
                            data-success="right"
                            v-for="error of v$.form.nome.$errors"
                            :key="error.$uid"
                        >
                            O campo nome é obrigatório
                        </span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input
                            type="tel"
                            v-maska="'+55(##)#####-####'"
                            v-model="form.telefone"
                            name="telefone"
                            id="telefone"
                        />
                        <label for="telefone">Telefone</label>
                        <span
                            class="helper-text red-text"
                            data-error="wrong"
                            data-success="right"
                            v-for="error of v$.form.telefone.$errors"
                            :key="error.$uid"
                        >
                            O campo telefone é obrigatório
                        </span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input
                            type="email"
                            v-model="form.email"
                            name="email"
                            id="email"
                        />
                        <label for="email">Email</label>
                        <span
                            class="helper-text red-text"
                            data-error="wrong"
                            data-success="right"
                            v-for="error of v$.form.email.$errors"
                            :key="error.$uid"
                        >
                            O campo email é obrigatório
                        </span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_city</i>
                        <input
                            type="text"
                            v-maska="'#####-###'"
                            v-model="form.cep"
                            name="cep"
                            id="cep"
                        />
                        <label for="cep">Cep</label>
                        <span
                            class="helper-text red-text"
                            data-error="wrong"
                            data-success="right"
                            v-for="error of v$.form.nome.$errors"
                            :key="error.$uid"
                        >
                            O campo cep é obrigatório
                        </span>
                    </div>
                    <div class="col s12">
                        <button type="submit" class="btn right">
                            <i class="material-icons right">send</i>
                            salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "./Layout.vue";
import { useForm, Head } from "@inertiajs/inertia-vue3";
import useVuelidate from "@vuelidate/core";
import { required, email, numeric } from "@vuelidate/validators";
import { maska } from "maska";
export default {
    name: "Cadastro",
    directives: { maska },
    props: {
        title: String,
    },
    setup() {
        const form = useForm({
            nome: null,
            telefone: null,
            email: null,
            cep: null,
        });
        return {
            v$: useVuelidate(),
            form,
        };
    },
    validations() {
        return {
            form: {
                id: { numeric },
                nome: { required },
                telefone: { required },
                email: { required, email },
                cep: { required },
            },
        };
    },
    methods: {
        async salvar() {
            const result = await this.v$.$validate();
            if (!result) {
                return false;
            } else {
                this.$inertia.post("/salvar", this.form);
            }
        },
    },
    components: {
        Layout,
        Head,
    },
};
</script>

<style scoped></style>
