<template>
    <Head>
        <title>{{title}}</title>
    </Head>
    <Layout>
        <div class="row">
            <div class="col s12 l8 push-l2">
                <p class="center">{{ title }}</p>
                <table class="responsive-table centered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Cep</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(ds, index) in dados" :key="index">
                            <td>{{ ds.id }}</td>
                            <td>{{ ds.data }}</td>
                            <td>{{ ds.nome }}</td>
                            <td>{{ ds.telefone }}</td>
                            <td>{{ ds.email }}</td>
                            <td>{{ ds.cep }}</td>
                            <td>
                                <button
                                    class="btn-floating btn-small orange"
                                    @click="editar(ds)"
                                >
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                            <td>
                                <button
                                    class="btn-floating btn-small red"
                                    @click="deletar(ds.id)"
                                >
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "./Layout.vue";
import {Head} from '@inertiajs/inertia-vue3' 
import Swal from 'sweetalert2';
export default {
    name: "Clientes",
    props: {
        title: String,
        dados: Array,
    },
    components: {
        Layout,
        Head
    },
    methods: {
        editar(ds){
            alert(ds.nome)
        },
        deletar(id) {
            Swal.fire({
                title:"Atenção",
                icon:"question",
                showCancelButton:true,
                text:"Deseja Realmente Deletar?"
            }).then(res =>{
                if(res.isConfirmed){
                    this.$inertia.delete(`/deletar/${id}`);                    
                }
            })
        },
    },
};
</script>

<style scoped></style>
