<template>
    <Head>
        <title>{{ title }}</title>
    </Head>
    <Layout>
        <div class="row">
            <div class="col s12 center">
                 <img src="/imagens/logoHome.png" class="responsive-img circle" />
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "./Layout";
import { useForm, Head } from "@inertiajs/inertia-vue3";

export default {
    name: "Home",
    props: {
        title:String
    },
    components: {
        Layout,
        Head,
    },
};
</script>

<style scoped>
.row {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
img{
    
}
@media screen and (max-width: 500px) {
    img{
        width: 80%;
    }
}
</style>
