<template>
    <main>

        <Navegador />
        <article>
            <slot />
        </article>
    </main>
</template>

<script>
import { Head } from "@inertiajs/inertia-vue3";
import Navegador from "../Components/Navegador.vue";

export default {
    props: {
        title: String,
    },
    components: {
        Navegador,
        Head,
    },
};
</script>
