<template>
    <Head>
        <title>{{ title }}</title>
    </Head> 
    <Layout>
        <div class="row">
            <div class="col s12">
                <p class="center">Sobre</p>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "./Layout";
import {Head} from '@inertiajs/inertia-vue3';
export default {
    name: "Sobre",
    props: {
       title:String
    },
    components: {
        Layout,
        Head

    },
};
</script>

<style></style>
