<template>
    <div class="">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">onload</a>
                <a href="/" data-target="mobile-demo" class="sidenav-trigger"
                    ><i class="material-icons">menu</i></a
                >
                <ul class="right hide-on-med-and-down">
                    <li>
                        <Link href="/">Home</Link>
                    </li>
                    <li>
                        <Link href="/cadastro">Cadastro</Link>
                    </li>
                    <li>
                        <Link href="/clientes">Clientes</Link>
                    </li>
                    <li>
                        <Link href="/sobre">Sobre</Link>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>
                <Link href="/">Home</Link>
            </li>
            <li>
                <Link href="/cadastro">Cadastro</Link>
            </li>
            <li>
                <Link href="/clientes">Clientes</Link>
            </li>
            <li>
                <Link href="/sobre">Sobre</Link>
            </li>
        </ul>
    </div>
</template>
<script>
import { Link } from "@inertiajs/inertia-vue3";
import M from "materialize-css";
export default {
    name: "Navegador",
    mounted() {
        M.AutoInit();
    },
    components: {
        Link,
    },
};
</script>

<style></style>
